# Configurações do Servidor
PORT=3010
NODE_ENV=development

# Configurações do Banco de Dados Local 
MONGO_URI=mongodb://127.0.0.1:27017/calango_gateway

# Futuras Chaves (Exemplos)
# STRIPE_SECRET_KEY=sk_test_...
# PAGBANK_TOKEN=...